<!doctype html>
<html lang="en">
    <head>
    	<title>Grape Aphid</title>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    	<meta name="HandheldFriendly" content="True">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    	<meta name="MobileOptimized" content="320"/>
    	<meta http-equiv="cleartype" content="on">
        <meta name="description" content="Grape Aphid: Highlighting the companies that paid Pennsylvania for the privilege of shipping wine to customers -- because the state is less than good at it.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thejqs">
        <meta name="twitter:title" content="Grape Aphid: Direct-shippers of wine to Pennsylvania.">
        <meta name="twitter:description" content="Because the PLCB is bad at giving you its own data.">
        <meta name="twitter:image" content="http://grapeaphid.com/static/img/grape_aphid_map.png">
        <meta property="og:url" content="http://grapeaphid.com">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Jacob Quinn Sanders.">
        <meta property="article:author" content="https://www.facebook.com/thejqs">
        <meta property="og:title" content="Grape Aphid">
        <meta property="og:description" content="Pennsylvania makes it hard to find out just which businesses can ship residents wine directly. So we made Grape Aphid for you.">
        <meta property="og:image" content="http://grapeaphid.com/static/img/grape_aphid_wide.png">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/corkscrew.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/corkscrew.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <!-- <link rel="stylesheet" href="../static/css/lib/leaflet-0.75.css" /> -->
        <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>
